body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  /*--Header--*/
  .headerlogo {
    font-family: 'Shrikhand', cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 2rem;
  }
  /*--Body Main Section--*/
  .location {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #E5E7E9;
    padding: 20px 0 20px 0;
    border-top: 3px solid #D0D3D4;
  }
  .location i {
    padding-right: 20px;
  }
  .booking {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F2F3F4;
    text-align: center;
    padding: 15px 65px 0 65px;
  }
  .booking__btn {
    background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    padding: 15px 30px;
    border-radius: 30px;
    margin: 10px 0 50px 0;
    -webkit-box-shadow: 0 0.5rem 0.5rem #A6ACAF;
            box-shadow: 0 0.5rem 0.5rem #A6ACAF;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  .booking__btn:hover {
    -webkit-filter: brightness(120%);
            filter: brightness(120%);
    -webkit-box-shadow: 0 0 10px #000, 0 0 30px #777;
            box-shadow: 0 0 10px #000, 0 0 30px #777;
  }
  .booking__btn a {
    text-decoration: none;
    color: white;
  }
  .operate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 40px 32px;
  }
  .operate h2 {
    width: 100%;
    font-weight: bold;
    font-size: 1.7em;
  }
  .operate ol {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .operate li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 95%;
    border-radius: 36px;
    padding: 20px 0;
    font-weight: bold;
    background-color: #F2F3F4;
    margin-bottom: 48px;
    -webkit-box-shadow: 0 0.5rem 0.5rem #E5E7E9;
            box-shadow: 0 0.5rem 0.5rem #E5E7E9;
    -webkit-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
  }
  /*--transition bouton fonctionnement--*/
  .operate li:hover {
    background-color: #F4ECF7;
  }
  .operate li:hover i {
    color: #9356DC;
  }
  .operate li i {
    color: #A6ACAF;
    margin: 0 24px;
    font-weight: 800;
  }
  .count {
    background-color: #9356DC;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: smaller;
    margin-left: -13px;
    padding: 5px 9px;
  }
  .restaurants {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F4F4;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants h2 {
    padding: 40px 0 0 14px;
  }
  .operatecontainer ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .container h3, h4, i {
    color: #1C2833;
  }
  .operatecontainer li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border-radius: 36px;
    padding: 16px 0;
    font-weight: bold;
  }
  .operatecontainer li i {
    margin: 0 24px;
    color: #797D7F;
  }
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
    height: 330px;
    position: relative;
    text-decoration: none;
    -webkit-box-shadow: 0 0.5rem 0.5rem #BDC3C7;
            box-shadow: 0 0.5rem 0.5rem #BDC3C7;
    border-radius: 20px;
  }
  .card img {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .restaurants__new {
    position: absolute;
    background-color: #99E2D0;
    border-radius: 2px;
    padding: 0.5rem;
    text-decoration: none;
    right: 15px;
    top: 15px;
    color: #16A085;
    font-weight: bold;
  }
  .card__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
    border-radius: 0 0 20px 20px;
  }
  .card__righttext {
    padding-top: 1rem;
    font-size: 2rem;
    padding-right: 3rem;
  }
  .card__lefttext {
    text-decoration: none;
  }
  .card__lefttext > * {
    margin: 10px;
  }
  .card__lefttext h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  /*--Footer--*/
  footer {
    background-color: #1C2833;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__title {
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: none;
  }
  .footer__icon {
    color: white;
    padding-right: 20px;
  }
  .footerdesign {
    padding: 0 0 0 20px;
    line-height: 2;
    text-decoration: none;
    list-style: none;
  }
  .footer__text {
    color: white;
    text-decoration: none;
  }
  .footer__icon {
    font-size: smaller;
    width: 15px;
  }
  .footer li {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*--Header Menu--*/
.header__arrow {
  font-size: 2rem;
  width: 100%;
  color: black;
}

.header--arrow a {
  position: absolute;
  left: 30px;
  top: 28px;
}

.menucontent img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #F2F3F4;
  z-index: 1;
  position: relative;
}

.menutitle {
  padding: 1rem 2rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menutitle h2 {
  font-family: 'Shrikhand', cursive;
  font-weight: lighter;
}

.menubtn {
  font-size: 2rem;
  width: 3rem;
  padding-bottom: 2rem;
}

.menu__starters h2 {
  padding-left: 15px;
  margin-bottom: 0;
}

.menu__details {
  background-color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.79rem;
  margin: 1rem 1rem;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}

.detailsbloc1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.detailsbloc1 h3 + p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.detailsprice {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.orderbtn {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px 50px;
  border-radius: 30px;
  margin: 40px 0 60px 0;
  color: white;
  border: hidden;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.orderbtn:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  -webkit-box-shadow: 0 0 10px #000, 0 0 30px #777;
          box-shadow: 0 0 10px #000, 0 0 30px #777;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menucontent {
  background-color: #F2F3F4;
}

.underline {
  border-top: 3px solid #99E2D0;
  width: 10%;
  margin-left: 15px;
}

.menu__maincourse h2 {
  padding-left: 15px;
  margin-bottom: 0;
}

.menu__dessert h2 {
  padding-left: 15px;
  margin-bottom: 0;
}

/*--Animation Coeur--*/
.card__righttext {
  position: relative;
}

.card__righttext .fa-heart {
  position: absolute;
}

.card__righttext .far:hover {
  opacity: 1;
}

.card__righttext .fas {
  opacity: 0;
}

.fas:hover {
  opacity: 1;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to top right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menubtn {
  position: relative;
}

.menubtn .fa-heart {
  position: absolute;
}

.menubtn .far:hover {
  opacity: 1;
}

.menubtn .fas {
  opacity: 0;
}

.fas:hover {
  opacity: 1;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to top right, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=styles.css.map */