/*--Header--*/
.headerlogo {
    @include mb {
        font-family: 'Shrikhand', cursive;
        font-weight: lighter;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px;
    }
}
/*--Header Menu--*/
.header {
    @include mb {
        &__arrow {
            font-size: 1.4rem;
        width: 100%;
        color: black;
        }
        &__witharrow a {
            position: absolute;
            left: 30px;
            top: 34px;
        }
    }   
}