$firstcolor: #9356DC;
$secondcolor: #FF79DA;
$thirdcolor: #99E2D0;
$lightgrey: #F2F3F4;
$mediumgray: #D0D3D4;
$darkgray : #3C3C3C;

$cmenu-num: 10;
$cmenu-delay-step: 160ms;

$screen-tb: 768px;
$screen-dt: 1200px;
$screen-mb: 320px;