
/*--Animation Heart--*/
.card__righttext{
    position: relative;

    .fa-heart {
        position: absolute;
    }
    .far:hover {
        opacity: 1;
    }
    .fas {
        opacity: 0;
    }
    .fas:hover {
    opacity: 1;
    background-image: linear-gradient(to top right, $secondcolor, $firstcolor);   
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    
    color: transparent;
    transition: 0.5s;
    }
}


/*--Animation menu cards--*/
.fa-check-circle {
    color: white;
}
.cmenu {
    border-radius: 20px;
    position: relative;
    width: 95%;
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 0;
    &__bloc1 {
        margin-left: 15px;
        width: 80%;
        transform: scaleX(1);
        transform-origin: left;
        transition: width 300ms 100ms linear;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .ctitle {
            font-weight: 600;
            font-size: 1.1rem;
            margin: 0 0 4px 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .csubtitle {
            margin: 0;
            font-weight: 300;
            font-size: 0.95rem;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .detailsvalidation {
        display: flex;
        background-color: $thirdcolor;
        width: 72px;
        height: 70px;
        padding-right: 0;
        border-radius: 0 20px 20px 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 300ms 100ms linear;
        
        .detailsicon {
            color: black;
            font-size: 1.4rem;
            margin: auto;
            transform: rotate(0deg);
            transition: transform 300ms 100ms linear;
        }
    }
    &__price {
        align-self: flex-end;
        color: #363636;
        font-weight: 700;
        position: absolute;
        right: 15px;
        bottom: 15px;
        transform-origin: right;
        transition: transform 300ms 100ms linear;
    }
    &:hover {
        cursor: pointer;
    }
    &:hover .cmenu__bloc1 {
        width: 60%;
            .csubtitle {
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .ctitle {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
    }
    &:hover .detailsvalidation {
        transform: scaleX(1);
    }
    &:hover .detailsicon {
        transform: rotate(360deg);
    }
    &:hover .cmenu__price{
        transform: translateX(-72px)
    }
}


/*--Animation apparition carte menu--*/

.cmenu {
    animation: cmenu 1s both cubic-bezier(0, 0, 0.2, 1);
    @for $i from 1 through $cmenu-num {
            &--a#{$i} {
            animation-delay: 300ms + $cmenu-delay-step * $i;
        }
    }
}

@keyframes cmenu {
    from {
        opacity: 0;
        transform: translateY(1rem); }
    to {
        opacity: 1;
        transform: translateY(0); } }


/*--Animation loader--*/
.loadingspinner {
        animation: loading 3s ease-in-out forwards;
        animation-iteration-count: 1;
        @keyframes loading {
            from {
                visibility: visible
            }
            to {
                visibility: hidden;
            }
        }
    }   

.spinner {
    display:inline-block;
    width:100px;
    height:100px;
    background: $thirdcolor;
    border-radius: 50%;
    position: relative;
    margin-left:2%;
    }
    .spinner:after, .spinner:before {
    content: '';
    display:block;
    width:100px;
    height:100px;
    border-radius:50%;
    }
    .spinner-1:after {
    position:absolute;
    top: -4px;
    left: -4px;
    border:4px solid transparent;
    border-top-color: $firstcolor;
    border-bottom-color: $secondcolor;
    animation: spinny 2s linear infinite;
    }
    .spinner-1:before {
    content: "ohmyfood";
    color:white;
    position: absolute;
    top:36px;
    left:16px;
    }
    @keyframes spinny {
    0% {
        transform:rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(45deg) scale(1.2)
    }
    100% {
        transform:rotate(360deg) scale(1);
    }
    }
